<!DOCTYPE html>
<html>
<head>
</head>
<title>PUSUNAVI  とは</title>
<meta name="description" content="もうみんな使ってる！圧倒的に使いやすいプログラミングスクール比較サイトで、目的にマッチしたオススメのプログラミングスクール探しが簡単にできます！また、簡単に多くのスクールに一括で問い合わせが可能です。ランキングや口コミからもスクールが探せます。ぜひご利用ください！">
<meta name="keywords" content="プログラミングスクール, オリジナルアプリ, IT起業, Ruby, Python">
</head>
<body>
	<div class="container-fluid">
		<div class="About">
			<div class="About__key">
				<div class="Key">
					<div class="Key__text">
						<p>プスナビについて</p>
						<h1>プスナビは<br />プログラミングスクール探しを<br />サポートするサイトです</h1>
					</div>
				</div>
			</div>
			<div class="About__section">
				<h2 class="About__title">FOR ALL YOUTH ENGINNER</h2>
				<div class="Product">
					<div class="Product__image">
						<img src=".png" alt="PUSUNAVI" />
					</div>
          <div class="Product__text">
           <p>『PUSUNAVI プログラミングスクール比較サイト』は全てのプログラミンスクールを探す人のために。<br /><br />あなたに合ったスクールはどこか？<br />あなたに合ったスクールをプスナビで探しましょう！<br /><br />無駄な時間やお金を使わなくて済む様にぜひプスナビをぜひご利用ください。</p>
         </div>
       </div>
     </div>

     <div class="About__section">
       <h2 class="About__title">FUNCTIONS</h2>
       <div class="Product">
        <div class="Product__detail-list">
         <div class="Product__detail">
          <img src="/assets/about/syllabus-78ea528a428c10218af3f1f022df7223c59490a988e542c2f09edcec06d0698c.png" alt="Serch" />
          <p>条件検索機能<br /><small>あなたの目的に合ったスクールを探せます</small></p>
        </div>
        <div class="Product__detail">
          <img src="/assets/about/search-7c01e9472fc4e830b6364516cb66f8f14540e50183593648153db933a2807edb.png" alt="Rankings" />
          <p>ランキングから探せる<br /><small>ジャンル別満足度ランキング</small></p>
        </div>
        <div class="Product__detail">
          <img src="/assets/about/review-140acc201629ab730bb1af061bc4343234b026f4bd251496d3a488b5bd10fe19.png" alt="Review" />
          <p>口コミ<br /><small>先輩方の口コミを見ることが出来ます</small></p>
        </div>
      </div>
    </div>
  </div>
</div>  
</body>
</html>