<header>
      <div class="container">
        <div class="header-left">

         
          <a href="/">PUSUCON</a> 
          
        </div>
        <!-- ここにメニューアイコンを追加 -->
        <span class="fa fa-bars menu-icon"></span>

        <div class="header-right">
          <a href="#">スクールを探す</a>
          <a href="/rankings">ランキングから探す</a>
          <a href="/schools">スクール一覧</a>
          <a href="/about">プスコンについて</a>
          <a href="#">口コミを見る</a>
          <a href="#">BLOG</a>
          <!-- <a href="#" class="login">ログイン</a> -->
        </div>
      </div>
    </header>